[user]
	name = Mickael Kurmann
	email = elbouillon@gmail.com
[alias]
    # Aliases mostly taken from http://pioupioum.fr/developpement/git-alias-productivite.html
    #
    # Éditer le dernier commit
    amend = commit --amend

    st = status
    who = shortlog -sne

    # Afficher un historique condensé des commits
    oneline = log --pretty=oneline --abbrev-commit --graph

    # Faire le point rapidement
    changes = diff --name-status
    dic = diff --cached
    diffstat = diff --stat

    svnpull = svn rebase
    svnpush = svn dcommit

    # Afficher les changements réalisés depuis le dernier pull
    lc = !git oneline ORIG_HEAD.. --stat --no-merges

    # Afficher les changements réalisés depuis le dernier pull
    addm = !git-ls-files -m -z | xargs -0 git-add && git status

    # Afficher les changements réalisés depuis le dernier pull
    addu = !git-ls-files -o --exclude-standard -z | xargs -0 git-add && git status

    # Afficher les changements réalisés depuis le dernier pull
    rmm = !git ls-files -d -z | xargs -0 git-rm && git status

    vim = !git-ls-files -m -z | xargs -0 vim
    vimall = !git-ls-files -m -o --exclude-standard -z | xargs -0 vim
    undo = git reset --soft HEAD^
    st = status
    df = diff
    co = checkout
    ci = commit
    br = branch
